@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header .nav {
    height: 39.2px;
}

header .nav nav ul {
    list-style: none;
    margin: 0px;
}

header .nav nav ul .buy, header .nav nav ul .official, header .nav nav ul .bemutato, header .nav nav ul .home {
    margin-top: 10px;
}

header .nav nav ul .buy a, header .nav nav ul .official a, header .nav nav ul .bemutato a, header .nav nav ul .home a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

header .nav nav ul .buy a:hover, header .nav nav ul .official a:hover, header .nav nav ul .bemutato a:hover, header .nav nav ul .home a:hover {
    background-color: rgb(231, 231, 231);
}

main .banner {
    background-image: url(img/SeaOfThieves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .banner img {
    padding: 15px;
    max-height: 160px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .banner h1 {
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

main .filler {
    height: 40px;
}

main .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/img1_upscayl_4x_realesrgan-x4plus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
}

main .container p {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    color: white;
    font-size: x-large;
    margin: 30px;
}

main .container a {
    font-size: x-large;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin: 30px;
}

main .container a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

main .filler2 {
    height: 40px;
}

main .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/img2_upscayl_4x_realesrgan-x4plus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
}

main .container2 a {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: x-large;
    margin: 30px;
}

main .container2 a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

main .container2 p {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: x-large;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: right;
    margin: 30px;
}

main .container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/img1_upscayl_4x_realesrgan-x4plus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
}

main .container3 p {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    color: white;
    font-size: x-large;
    margin: 30px;
}

main .container3 a {
    font-size: x-large;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin: 30px;
}

main .container3 a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

main .filler3 {
    height: 40px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

footer img {
    max-width: 100px;
}

footer a {
    padding: 15px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: rgb(231, 231, 231);
}

@media only screen and (min-width: 711px) {
    header .nav nav ul .buysmall, header .nav nav ul .officialsmall, header .nav nav ul .bemutatosmall, header .nav nav ul .homesmall {
        display: none;
    }
}

@media only screen and (max-width: 710px) {
    header .nav nav ul .buy, header .nav nav ul .official, header .nav nav ul .bemutato, header .nav nav ul .home {
        display: none;
    }

    header .nav nav ul .buysmall, header .nav nav ul .officialsmall, header .nav nav ul .bemutatosmall, header .nav nav ul .homesmall {
        height: 24px;
    }

    header .nav nav ul .buysmall a, header .nav nav ul .officialsmall a, header .nav nav ul .bemutatosmall a, header .nav nav ul .homesmall a {
        height: 24px;
        width: 24px;
        padding: 10px;
        border-radius: 5px;
        color: black;
    }

    header .nav nav ul .buysmall a span, header .nav nav ul .officialsmall a span, header .nav nav ul .bemutatosmall a span, header .nav nav ul .homesmall a span{
        position: relative;
        top: 7px;

    }

    header .nav nav ul .buysmall a:hover, header .nav nav ul .officialsmall a:hover, header .nav nav ul .bemutatosmall a:hover, header .nav nav ul .homesmall a:hover {
        background-color: rgb(231, 231, 231);
    }

    main .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .banner img {
        display: none;
    }

    main .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .container a {
        margin-bottom: 15px;
    }

    main .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    main .container2 a {
        margin-top: 15px;
    }

    main .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .container3 a {
        margin-bottom: 15px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 350px;
    }
}